# Import Library

In [7]:
import yfinance as yf
import pandas as pd
from datetime import datetime as dt
import datetime

# Price Crawling

In [3]:
now = datetime.datetime.today().strftime('%d_%m_%Y')
end = dt.now()

# start = dt(end.year - 2, end.month, end.day)
start = '2020-01-01'

stock_code = ['BBCA.JK', 'BBNI.JK', 'BUMI.JK', 'INDY.JK', 'ADRO.JK']
    
for stock in stock_code:
    data = yf.download(stock, start=start, end=end)
    data = data[['Open', 'High', 'Low', 'Adj Close', 'Volume']]
    title = stock.replace('JK', '').replace('.', '')
    df = pd.DataFrame(data)
    df.to_csv(f'data\\{title}_{now}.csv')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

# Fundamental Crawling

In [28]:
# get fundamental data
import json
unvr = yf.Ticker('BBCA.JK')
unvr.cashflow

df = unvr.cashflow
# data = json.load(unvr)
# data = unvr
# df = pd.read_json(data, orient ='index')

# df = pd.DataFrame(data, index='date')
# df = df.T['']
df

# df = pd.DataFrame(data)
# df.head()
# for stock in stock_code:
#     data = yf.Ticker(stock)
#     data.info
#     data = data[['Open', 'High', 'Low', 'Adj Close', 'Volume']]
#     title = stock.replace('JK', '').replace('.', '')
#     df = pd.DataFrame(data)
#     df.to_csv(f'data\\{title}_fundamental_{now}.csv')

,2021-12-31,2020-12-31,2019-12-31,2018-12-31
Investments,-3.796745e+13,-4.115928e+13,-3.117154e+13,2.295284e+13
Change To Liabilities,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Total Cashflows From Investing Activities,-4.124786e+13,-4.411784e+13,-3.473241e+13,2.062765e+13
Net Borrowings,-3.653890e+11,-1.919047e+12,1.417633e+12,-8.873470e+11
Total Cash From Financing Activities,1.196759e+14,1.230677e+14,6.379515e+13,3.951849e+13
Change To Operating Activities,-5.448398e+13,-1.265443e+14,-5.367956e+13,-7.026029e+13
Net Income,3.142266e+13,2.713111e+13,2.856505e+13,2.585515e+13
Change In Cash,7.099745e+13,-6.796308e+12,9.755985e+12,1.993412e+13
Effect Of Exchange Rate,1.572170e+11,1.895929e+12,-1.187450e+11,1.691554e+12
Total Cash From Operating Activities,-7.587786e+12,-8.764205e+13,-1.918801e+13,-4.190358e+13
Depreciation,2.138107e+12,2.240482e+12,1.693877e+12,1.667298e+12
Other Cashflows From Investing Activities,-2.335980e+11,-3.820350e+11,1.445000e+09,1.164000e+10
Dividends Paid,-1.373284e+13,-1.363422e+13,-8.752529e+12,-6.410302e+12
Other Cashflows From Financing Activities,1.337741e+14,1.386209e+14,7.113005e+13,4.681614e+13
Change To Netincome,1.213889e+13,6.603557e+12,2.667969e+12,-1.029722e+12
Capital Expenditures,-3.061820e+12,-2.282555e+12,-2.675281e+12,-2.347223e+12

In [92]:
df_cf = unvr.cashflow
df_cf = df_cf.T
df_cf = df_cf[['Net Income', 'Investments']]

date = ['2021', '2020', '2019', '2018']
df_cf['Date'] = date
df_cf = df_cf.set_index("Date")
df_cf

        Net Income   Investments
Date
2021  3.142266e+13 -3.796745e+13
2020  2.713111e+13 -4.115928e+13
2019  2.856505e+13 -3.117154e+13
2018  2.585515e+13  2.295284e+13

In [89]:
df_bs = unvr.balance_sheet
df_bs = df_bs.T
df_bs = df_bs[['Total Liab', 'Total Assets', 'Cash']]

date = ['2021', '2020', '2019', '2018']

df_bs['Date'] = date
df_bs = df_bs.set_index("Date")

df_bs

        Total Liab  Total Assets          Cash
Date
2021  1.025496e+15  1.228345e+15  1.114830e+14
2020  8.908555e+14  1.075570e+15  7.878813e+13
2019  7.448462e+14  9.189893e+14  6.516287e+13
2018  6.730345e+14  8.247879e+14  5.976325e+13

In [97]:
income = unvr.earnings
df_inc = pd.DataFrame(income)

date = ['2018', '2019', '2020', '2021']

df_inc['Date'] = date
df_inc = df_inc.set_index("Date")
df_inc = df_inc.sort_values(by=['Date'], ascending=False)

df_inc.head()

             Revenue        Earnings
Date
2021  69144054000000  31422660000000
2020  63531238000000  27131109000000
2019  67022947000000  28565053000000
2018  60353186000000  25855154000000

In [99]:
df_bbca = (pd.merge(df_cf, df_bs, left_index=True, right_index=True))
df_bbca = (pd.merge(df_bbca, df_inc, left_index=True, right_index=True))
df_bbca

,Net Income,Investments,Total Liab,Total Assets,Cash,Revenue,Earnings
Date,,,,,,,
2021,3.142266e+13,-3.796745e+13,1.025496e+15,1.228345e+15,1.114830e+14,69144054000000,31422660000000
2020,2.713111e+13,-4.115928e+13,8.908555e+14,1.075570e+15,7.878813e+13,63531238000000,27131109000000
2019,2.856505e+13,-3.117154e+13,7.448462e+14,9.189893e+14,6.516287e+13,67022947000000,28565053000000
2018,2.585515e+13,2.295284e+13,6.730345e+14,8.247879e+14,5.976325e+13,60353186000000,25855154000000